# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
lib/
lib64/
work/
tmp/


# VSCode
.vscode


# Environments
.env
env/
ENV/
env.bak/
venv.bak/


# Vim
*.swp


# sql
*.sqlite3


# Log
*.log
*.old


# Output files
*.html


# Local
/zsh/.zsh_history


# Mac
.DS_Store
