- hosts: ubuntu
  become: true
  debugger: on_failed
  vars_files:
    - /Users/tfuku/home_tfuku/Github/tf-util/ansible/inventories/production/group_vars/vault_app1.yml
  tasks:
    - name: ユーザーを作成
      user:  ## https://docs.ansible.com/ansible/latest/collections/ansible/builtin/user_module.html
        name: "{{ item.name }}"
        password: "{{ item.password }}"
        shell: /usr/bin/zsh
        groups: "{{ 'sudo' if item.sudo else '' }}"  # sub groupに追加している感じ
        append: yes  ## 他のgroupに入っていたら他のgroup設定は削除
        create_home: yes
        state: present  ## 
      loop: "{{ users }}"

    - name: SSH ディレクトリを作成
      file:
        path: "/home/{{ item.name }}/.ssh"
        state: directory
        owner: "{{ item.name }}"
        group: "{{ item.name }}"  # primary groupを設定、ひとまずusersに入れる
        mode: "0700"
      loop: "{{ users }}"

    - name: 公開鍵を `authorized_keys` に追加
      copy:
        content: "{{ item.ssh_key }}"
        dest: "/home/{{ item.name }}/.ssh/authorized_keys"
        owner: "{{ item.name }}"
        group: "{{ item.name }}"
        mode: "0600"
      loop: "{{ users }}"

#   - name: `sudo` のパスワードなし設定（必要な場合）
#     lineinfile:
#       path: "/etc/sudoers.d/{{ item.name }}"
#       line: "{{ item.name }} ALL=(ALL) NOPASSWD:ALL"
#       create: yes
#       mode: "0440"
#     when: item.sudo
#     loop: "{{ users }}"
#    - name: skip task
#      debug:
#        msg: "{{ res_exists }}"
#      #when: res_exists.stat.exists == false
