- hosts: ubuntu
  become: true
  vars:
    # --- VNC 設定（必要なら値を変更）---
    vnc_display: 1
    vnc_geometry: "1920x1200"      # macノートで見やすい比率
    vnc_depth: 24
    vnc_allow_port: false          # trueにすると5901をLANに開放
    vnc_bind_localhost: true       # SSHトンネル前提でループバックに限定
  tasks:
    - name: パッケージリストを更新（apt update）
      apt:
        update_cache: yes

    - name: システム全体のアップグレード（apt upgrade）
      apt:
        upgrade: yes

    - name: 不要なパッケージを削除（apt autoremove）
      apt:
        autoremove: yes

    - name: SSH サーバーを有効化
      systemd:
        name: ssh
        enabled: yes
        state: started

    - name: 必要なパッケージをインストール
      apt:
        name:
          - podman
          - podman-compose
          - zsh
          - zsh-common
          - xclip                   # CLI用クリップボードコピー
          - build-essential         # makeやgcc
          - xfce4                     # 軽量DE
          - xfce4-goodies
          - tigervnc-standalone-server
          - dbus-x11                  # XアプリのDBus
          - x11-xserver-utils         # xrdb 等
          - fonts-noto-cjk            # 日本語表示
          - ufw
        state: present

    - name: UFW を有効化
      ufw:
        state: enabled
        policy: deny

    - name: SSH のポートを開放
      ufw:
        rule: allow
        src: 192.168.10.0/24
        port: "22"
        proto: tcp

    - name: （必要時のみ）VNCポートを開放
      ufw:
        rule: allow
        src: 192.168.10.0/24
        port: "5901"
        proto: tcp
      when: vnc_allow_port



